@media screen and (max-width: 690px) {
.intro {
	font-size: 7vw;
}

.site-header {
    margin-left: 1rem;
}

.row {
    margin-top: 32px;
}

.projectGrid h4 {
    margin-top: 16px;
    margin-left: 0;
    margin-bottom: 4px;
    font-size: 6vw;
    line-height: 1.2;
	}


.projectGrid p {
    margin-left: 0;
}

.about p {
    margin-left: 0;

}

html .page-content-alternative {
	padding: 16px 0;
}

.column-4-grid {
    padding-bottom: 40px;
}
}