<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body>


    <div class="page-content">
      <div class="wrapper">
        <div class="grid-display">
          <div class="row">
                <div class="col-12 intro">Hi there! I'm Matti Hicks,
                a product designer currently helping students discover the world.
              </div>
          </div>

    <div class="row">
      <div class="col-6">
        <div class="projectGrid">
          <a href="/education-first"><img src="assets/images/ef_thumb.jpg" alt="novartis image"></a>
        </div>
      </div>
      <div class="col-6">
        <div class="projectGrid">
        <h4>EF Finland</h4>
        <p>Product Designer, facilitating the end to end customer experience through UX design, user research, prototyping, and content strategy</p>
        <p>Read about <a href="/education-first">this work</a></p>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="projectGrid"> 
        <a href="/novartis"><img src="assets/images/thumb_novartis2.jpg" alt="novartis image"></a>
      </div>
    </div>
    <div class="col-6">
      <div class="projectGrid">
       <h4>Designing for cancer research</h4>
        <p>Senior UX Designer, working to design better social and collaboration technologies</p>
        <p>Read about <a href="/novartis">this work</a></p>
      </div>
    </div>
  </div>


   <div class="row">
    <div class="col-6">
      <div class="projectGrid">
        <a href="/ultrasound"><img src="assets/images/ultrasound_thumb.jpg" alt="ultrasound image"></a>
      </div>
    </div>
    <div class="col-6">
      <div class="projectGrid">
       <h4>Portable Ultrasound for Village Midwives</h4>
          <p>UX Designer, researching and designing a low cost medical device to save lives</p>
          <p>Read about <a href="/ultrasound">this work</a></p>
      </div>
    </div>
  </div>


   <div class="row">
    <div class="col-6">
      <div class="projectGrid">
        <a href="/dogstay"><img src="assets/images/dogStay_thumb6.jpg" alt="dogstay image"></a>
      </div>
    </div>
    <div class="col-6">
      <div class="projectGrid">
       <h4>DogStay: a tailored dog boarding experience</h4>
        <p>A self-initiated project - based on my love for dogs 🐶</p>
        <p>Read <a href="/dogstay">case study</a></p>
      </div>
    </div>
  </div>


    </div>



  </div>
</div>

  <div class="page-content-alternative">
    <div class="wrapper">
      <div class="grid-display">
        <div class="row">
          <div class="col-6 aboutPic">
            <img src="assets/images/matthewPic.jpg" alt="matthew pic">
          </div>
          <div class="col-6 about">
            <p>I grew up in Kansas City, Missouri, raised by two hardworking parents who reluctantly let me study abroad in Germany when I was 17. After graduating high school I moved to Seattle and worked in cafes until I could afford college.</p>
            <p>In college I won scholarships that enabled me to develop strong passions for art, digital design, research, and writing. I also studied in Italy, interned in Holland, and conducted fieldwork in Uganda.</p>
            <p>Less than a month after graduating college I moved to Switzerland. Today I'm most excited about working on problems that help people live healthier, more fulfilling lives.</p>
          </div>
        </div>
      </div>

      <div class="grid-display">
        <div class="row interests">
          <div class="col-4">
            <h4>I read...</h4>
            <ul>
              <li><a href="https://www.offscreenmag.com/">Offscreen magazine</a></li>
              <li><a href="https://css-tricks.com/">CSS Tricks</a></li>
              <li><a href="https://www.highresolution.design/">High Resolution</a></li>
              <li><a href="http://sethgodin.typepad.com/">Seth Godin﻿</a></li>
            </ul>
          </div>
          
          <div class="col-4">
            <h4>I work with...</h4>
            <ul>
              <li>Sketch</li>
              <li>Framer/HTML-CSS</li>
              <li>Adobe Suite</li>
              <li>Spotify</li>
            </ul>
            </div>
            
          <div class="col-4">
            <h4>And for fun I...</h4>
            <ul>
              <li>Listen to <a href="https://spec.fm/podcasts/design-details">Design Details</a></li>
              <li>Develop side projects</li>
              <li><a href="https://hickspress.com">Write</a></li>
              <li>Learn Hebrew, German</li>
            </ul>
          </div>
          
</div>
  </div>
</div>
</div>


<!--   {{ content }} -->
<div class="wrapper">

        {% include footer.html %}
      </div>


 {% if jekyll.environment == 'production' %}
    {% include analytics.html %}
    {% endif %}

  </body>

</html>